@use "../abstracts";

.checkout-page {
    display: flex;
    flex-direction: column;

    min-height: 80vh;
    padding-bottom: 60px;

    &__breadcrumbs {
        background: var(--checkout-breadcrumbs-bg-color);
    }
}

.checkout-container {
    margin-top: 30px;

    @include abstracts.screen(md) {
        margin-top: 20px;
    }
}

.cart-info {
    padding: 30px;
    border-radius: 20px;
    background: var(--checkout-cart-info-bg-color);
    box-shadow: 0px 20px 60px 10px var(--checkout-cart-info-shadow-color);

    @include abstracts.screen(md) {
        padding: 16px;
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__heading {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 141.667%;

        @include abstracts.screen(md) {
            font-size: 1.6rem;
        }

        &--lv2 {
            font-size: 2.2rem;
            font-weight: 500;
            line-height: 145.455%;
        }
    }

    &__sub-heading {
        margin: 30px 0;

        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }

    &__list {
        margin-top: -30px;

        @include abstracts.screen(md) {
            margin-top: -16px;
        }
    }

    &__bottom {
        margin-top: 30px;
    }

    &__continue {
        display: flex;
        align-items: flex-end;

        height: 100%;

        &-link {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        &-icon {
            rotate: 90deg;
            transition: translate 0.3s;
        }

        &-link:hover &-icon {
            translate: -5px;
        }
    }

    &__row,
    &__continue-link {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-top: 10px;

        &--bold {
            font-size: 2.2rem;
            font-weight: 700;
        }
    }

    &__separate {
        height: 1px;
        margin: 30px 0;

        background: var(--checkout-border-color);
    }

    &__sub-label {
        font-weight: 400;
    }

    &__value-bold {
        font-weight: 700;
    }

    &__next-btn {
        margin-top: 30px;
    }

    &__edit-btn {
        display: flex;
        align-items: center;
        gap: 10px;

        font-size: 1.8rem;
        line-height: 144.444%;

        cursor: pointer;
    }

    &__checkbox {
        &-input {
            appearance: none;

            &::before {
                content: url("../icons/checkbox-uncheck.svg");
            }

            &:not(:checked)::before {
                filter: var(--icon-color);
            }

            &:checked::before {
                content: url("../icons/checkbox-checked.svg");
            }
        }
    }
}

.cart-info + .cart-info {
    margin-top: 30px;
}

.cart-item {
    display: flex;
    gap: 30px;

    padding: 30px 0;

    border-bottom: 1px solid var(--checkout-border-color);

    @include abstracts.screen(md) {
        gap: 16px;

        padding: 16px 0;

        &:last-child {
            border: none;
        }
    }

    &__thumb {
        width: 175px;
        height: 175px;
        object-fit: contain;

        @include abstracts.screen(xxl) {
            width: 140px;
            height: 140px;
        }

        @include abstracts.screen(xxl) {
            width: 100px;
            height: 100px;
        }

        @include abstracts.screen(md) {
            width: 60px;
            height: 60px;
        }
    }

    &__content {
        display: flex;
        flex: 1;
        align-self: flex-start;

        &-left {
            flex: 1;
        }

        &-right {
            display: flex;
            flex-direction: column;
        }

        @include abstracts.screen(md) {
            flex-direction: column;

            &-right {
                margin-top: 16px;
            }
        }
    }

    &__title {
        max-width: 374px;

        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }

    &__price-wrap {
        margin: 16px 0;

        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;

        color: var(--checkout-grey-color);
    }

    &__status {
        color: #67b044;
    }

    &__ctrl {
        display: flex;
        align-items: center;
        gap: 20px;

        min-height: 44px;
        margin-top: auto;

        &--md-block {
            @include abstracts.screen(md) {
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
            }
        }
    }

    &__input {
        display: flex;
        align-items: center;
        gap: 10px;

        height: 44px;
        padding: 0 20px;
        border: 1px solid #d1d2d6;
        border-radius: 10px;

        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;

        cursor: pointer;

        &-btn {
            display: flex;
        }
    }

    &__icon {
        cursor: pointer;
    }

    &__content-right {
        display: flex;
        flex-direction: column;
    }

    &__total-price {
        text-align: right;
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 145.455%;

        @include abstracts.screen(md) {
            margin-bottom: 16px;
            text-align: left;
        }
    }

    &__ctrl-btn {
        display: flex;
        align-items: center;
        gap: 10px;

        font-size: 1.6rem;
        font-weight: 500;
        line-height: 150%;

        color: var(--checkout-grey-color);

        cursor: pointer;

        &:first-child {
            margin-right: 10px;
        }
    }
}

.gift-item {
    display: flex;
    align-items: center;
    gap: 20px;

    &__icon-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;

        width: 76px;
        height: 76px;
        padding: 10px;
        border-radius: 14px;
        background: rgba(118, 68, 225, 0.2);
        box-shadow: 0px 20px 60px 10px var(--checkout-gift-shadow-color);
    }

    &__icon {
        width: 100%;
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }

    &__desc {
        margin-top: 10px;

        font-size: 1.4rem;
        line-height: 142.857%;
    }
}

.user-address {
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include abstracts.screen(md) {
            align-items: flex-start;
            flex-direction: column;
            gap: 16px 0;
        }
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;

        @include abstracts.screen(md) {
            font-size: 1.6rem;
        }
    }

    &__desc {
        margin-top: 4px;

        font-size: 1.5rem;
        line-height: 146.667%;

        @include abstracts.screen(md) {
            font-size: 1.4rem;
        }
    }

    &__message {
        margin-top: 30px;
        font-weight: 500;
    }

    &__link {
        color: #0071dc;
    }
}

.address-card {
    display: flex;

    margin-top: 30px;

    @include abstracts.screen(md) {
        flex-direction: column;
    }

    &__left {
        display: flex;
        flex: 1;
        gap: 16px;
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;

        @include abstracts.screen(md) {
            font-size: 1.6rem;
        }
    }

    &__desc {
        width: min(520px, 100%);
        margin-top: 4px;

        font-size: 1.5rem;
        line-height: 146.667%;

        @include abstracts.screen(md) {
            font-size: 1.4rem;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 30px;

        padding-left: 8px;
        margin-top: 20px;

        font-size: 1.4rem;
        line-height: 142.857%;

        list-style: disc inside;

        @include abstracts.screen(md) {
            gap: 16px;
        }

        @include abstracts.screen(sm) {
            align-items: flex-start;
            flex-direction: column;
            gap: 16px;
        }
    }

    &__ctrl {
        height: 100%;
        display: flex;
        align-items: flex-end;

        @include abstracts.screen(md) {
            margin-top: 16px;
        }
    }
}

.payment-item {
    display: flex;
    align-items: center;

    margin-top: 30px;
    padding: 20px;
    border-radius: 20px;
    background: #f6f6f6;

    &__content {
        flex: 1;
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }

    &__link,
    &__desc {
        margin-top: 4px;

        font-size: 1.5rem;
        line-height: 146.667%;
    }

    &__link {
        color: #0071dc;
        text-decoration: underline;
    }
}
