// ? Filter Button
.filter-btn {
    display: flex;
    align-items: center;
    gap: 14px;

    height: 36px;
    padding: 0 14px;
    border-radius: 6px;

    font-size: 1.4rem;
    font-weight: 700;
    line-height: 142.857%;

    color: var(--filter-btn-text-color);
    background: var(--filter-btn-bg-color);

    cursor: pointer;
}

// ? Like Button
.like-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;
    border-radius: 50%;

    background: var(--like-btn-bg-color);

    cursor: pointer;
    box-shadow: 0px 20px 60px var(--like-btn-shadow-color);

    &:not(&--liked) .like-btn__icon--liked {
        display: none;
    }

    &--liked .like-btn__icon {
        display: none;
    }

    &__icon--liked {
        margin-top: 6px;
    }
}
