@use "../abstracts";

.favourite-item {
    &,
    &__row {
        display: flex;
        gap: 20px;
    }

    &__row {
        align-items: center;

        margin-top: 10px;

        @include abstracts.screen(sm) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__thumb {
        width: 151px;
        height: 108px;

        object-fit: contain;
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 146.667%;
    }

    &__price {
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 145.455%;
    }
}
