@use "../abstracts";

html.dark {
    // ? Dark theme text/icon-color
    --text-color: #fff;
    --icon-color: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%)
        contrast(102%);

    // ? Dark theme bg/shadow-color
    --body-bg-color: #292e39;
    --header-bg-color: #171c28;
    --top-act-group-bg-color: #292e39;
    --top-act-group-shadow: rgba(0, 0, 0, 0.2);
    --top-act-group-separate: #ededf6;

    @include abstracts.screen(lg) {
        --header-shadow-color: rgba(0, 0, 0, 0.2);
    }

    // ? Dark theme action header dropdown color
    --header-act-dropdown-bg-color: #373d4c;
    --header-act-dropdown-shadow-color: rgba(23, 28, 40, 0.4);
    --header-act-dropdown-border-color: #868585;
    --header-act-dropdown-arrow-color: var(--dropdown-arrow-color);

    // ? Dark theme dropdown color
    --dropdown-bg-color: #373d4c;
    --dropdown-shadow-color: rgba(23, 28, 40, 0.4);
    --dropdown-arrow-color: brightness(0) saturate(100%) invert(22%) sepia(30%) saturate(376%) hue-rotate(184deg)
        brightness(90%) contrast(90%);
    --drop-menu-main-border-color: #171c28;
    --menu-column-icon-color: brightness(0) saturate(100%) invert(86%) sepia(2%) saturate(1866%) hue-rotate(201deg)
        brightness(116%) contrast(97%);

    // ? Dark theme sidebar color
    --sidebar-bg-color: #292e39;
    --sidebar-shadow-color: rgba(23, 28, 40, 0.4);

    // ? Dark theme browse categories
    --cate-item-bg-color: #171c28;
    --cate-item-thumb-bg-color: #292e39;
    --cate-item-title-color: #fff;

    // ? Dark theme buttons
    --filter-btn-text-color: #fff;
    --filter-btn-bg-color: #171c28;

    --like-btn-bg-color: #292e39;
    --like-btn-shadow-color: rgba(124, 124, 124, 0.2);

    // ? Dark theme product card
    --product-card-bg-color: #171c28;
    --product-card-shadow-color: rgba(0, 0, 0, 0.2);

    // ? Dark theme filter form
    --form-tag-bg-color: #171c28;
    --filter-form-bg-color: #373d4c;
    --filter-form-shadow-color: rgba(0, 0, 0, 0.4);
    --filter-form-arrow: var(--dropdown-arrow-color);

    // ? Dark theme auth form
    --auth-form-bg-color: #292e39;
    --auth-intro-bg-color: #171c28;
    --auth-heading-color: #b9babe;
    --auth-intro-text-color: var(--auth-heading-color);
    --form-placeholder-color: var(--auth-heading-color);
    --auth-form-btn-text-color: var(--auth-heading-color);
    --auth-form-btn-icon-color: brightness(0) saturate(100%) invert(82%) sepia(0%) saturate(4041%) hue-rotate(288deg)
        brightness(93%) contrast(89%);

    // ? Dark theme product-detail page
    --product-detail-bg-color: #292e39;
    --product-info-bg-color: #171c28;
    --product-detail-info-content-bg: transparent;
    --product-info-form-tag-bg-color: var(--product-detail-bg-color);

    --breadcrumbs-bg-color: #171c28;
    --breadcrumbs-shadow-color: rgba(23, 28, 40, 0.2);

    @include abstracts.screen(md) {
        --product-info-bg-color: transparent;
        --product-detail-info-content-bg: #171c28;
    }

    // ? Dark theme search bar
    --search-bar-bg-color: #171c28;
    --search-bar-placeholder-color: #b9babe;
    --search-bar-icon-color: brightness(0) saturate(100%) invert(79%) sepia(0%) saturate(851%) hue-rotate(23deg)
        brightness(97%) contrast(86%);

    // ? Dark theme text-content
    --text-content-hr-bg-color: #868585;

    // ? Dark theme review card
    --review-card-bg-color: #171c28;

    // ? Dark theme checkout
    --checkout-breadcrumbs-bg-color: #171c28;
    --checkout-cart-info-bg-color: #171c28;
    --checkout-cart-info-shadow-color: rgba(23, 28, 40, 0.2);
    --checkout-border-color: #292e39;
    --checkout-grey-color: #b9babe;
    --checkout-gift-shadow-color: rgba(23, 28, 40, 0.2);

    // ? Dark theme modal
    --modal-bg-color: #373d4c;
    --modal-shadow-color: rgba(23, 28, 40, 0.4);

    // ? Dark theme select dialog
    --select-dialog-shadow-color: rgba(23, 28, 40, 0.2);
    --select-dialog-option-hover-color: #292e39;

    // ? Dark theme payment item
    --payment-item-bg-color: #292e39;
}
