@use "../abstracts";

html {
    // ? Light theme text/icon-color
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(9%) sepia(9%) saturate(4431%) hue-rotate(212deg) brightness(88%)
        contrast(95%);

    // ? Light theme bg/shadow-color
    --body-bg-color: #f6f6f6;
    --header-bg-color: #eee;
    --footer-bg-color: var(--header-bg-color);

    --top-act-group-bg-color: #fff;
    --top-act-group-shadow: rgba(237, 237, 246, 0.2);
    --top-act-group-separate: #ededf6;

    @include abstracts.screen(lg) {
        --header-bg-color: #fff;
        --header-shadow-color: rgba(237, 237, 246, 0.2);
    }

    // ? Light theme action header dropdown color
    --header-act-dropdown-bg-color: #fff;
    --header-act-dropdown-shadow-color: rgba(200, 200, 200, 0.4);
    --header-act-dropdown-border-color: #d2d1d6;

    // ? Light theme dropdown color
    --dropdown-bg-color: #fff;
    --dropdown-shadow-color: rgba(200, 200, 200, 0.4);
    --drop-menu-main-border-color: #d2d1d6;

    // ? Light theme sidebar color
    --sidebar-bg-color: #fff;
    --sidebar-shadow-color: rgba(200, 200, 200, 0.4);

    // ? Light theme browse categories
    --cate-item-bg-color: #eee;
    --cate-item-thumb-bg-color: #fff;
    --cate-item-title-color: #000;

    @include abstracts.screen(md) {
        --cate-item-bg-color: #fff;
    }

    // ? Light theme buttons
    --filter-btn-text-color: #6c6c72;
    --filter-btn-bg-color: #fff;

    --like-btn-bg-color: #fff;
    --like-btn-shadow-color: rgba(124, 124, 124, 0.2);

    // ? Light theme product card
    --product-card-bg-color: #fff;
    --product-card-shadow-color: rgba(237, 237, 246, 0.2);

    // ? Light theme filter form
    --filter-form-bg-color: #fff;
    --filter-form-shadow-color: rgba(200, 200, 200, 0.4);

    // ? Light theme auth form
    --form-placeholder-color: #d2d1d6;
    --form-tag-bg-color: #ebe8e8;
    --auth-form-bg-color: #fff;
    --auth-form-btn-icon-color: var(--icon-color);

    @include abstracts.screen(md) {
        --auth-intro-bg-color: #fff;
    }

    // ? Light theme product-detail page
    --product-detail-bg-color: #fff;
    --product-info-bg-color: #f6f6f6;
    --product-detail-info-content-bg: transparent;
    --product-info-form-tag-bg-color: #ededf6;

    --breadcrumbs-bg-color: #f6f6f6;
    --breadcrumbs-shadow-color: rgba(237, 237, 246, 0.2);

    @include abstracts.screen(md) {
        --product-detail-bg-color: #fafafd;
        --product-detail-info-content-bg: #fff;
        --product-info-bg-color: transparent;
        --breadcrumbs-bg-color: #fff;
    }

    // ? Light theme search bar
    --search-bar-bg-color: #fff;
    --search-bar-placeholder-color: #9e9da8;

    // ? Light theme text-content
    --text-content-hr-bg-color: #ebebeb;

    // ? Light theme review card
    --review-card-bg-color: #fafafd;

    @include abstracts.screen(md) {
        --review-card-bg-color: #fff;
    }
}
